<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://static.thenounproject.com/png/131562-200.png">
    <title>Thank you</title>
</head>
<body>
    <a href='/'><h2>Return to form</h2></a>
    <a href='/admin'>Admin form</a>
    <h1>Thank you <%= contact.firstName %> <%= contact.lastName %>!</h1>
    <h2>Contact details</h2>
    <p>First Name: <%= contact.firstName %></p>
    <p>Last Name: <%= contact.lastName %></p>
    <p>Job Title: <%= contact.jobTitle %></p>
    <p>Company: <%= contact.company %></p>
    <p>LinkedIn: <%= contact.linkedin %></p>
    <p>Email: <%= contact.email %></p>
    <p>Meet: <%= contact.howMeet %></p>
    <p>Other Meet: <%= contact.otherMeet %></p>
    <p>Message: <%= contact.message %></p>
    <p>Mailing: <%= contact.mailing %></p>
    <p>Format: <%= contact.format %></p>    
</body>
</html>